In [1]:
#IMPORTAR LIBRERÍAS A UTILIZAR PARA EL ANÁLISIS EXPLORATORIO DE DATOS
import pandas as pd
import numpy as np
import ast
import datetime

In [ ]:
#LOS DATASETS SE ENCUENTRAN EN EL SIGUIENTE LINK, DESCARGAR Y GUARDAR A LA ALTURA DE ESTE ARCHIVO 
#PARA QUE FUNCIONEN LOS SIGUIENTES CÓDIGOS.
# link: https://drive.google.com/drive/folders/10KkqiXHJZrBWVzQQxyXmqhUQRT7EQvPw?usp=drive_link

In [8]:
#DESCARGA DE LOS DATASETS
data = pd.read_csv('movies_dataset.csv', sep=',', encoding="utf8")
data_comp = pd.read_csv('credits.csv', sep=',', encoding="utf8")

C:\Users\nanci\AppData\Local\Temp\ipykernel_24636\905785642.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('movies_dataset.csv', sep=',', encoding="utf8")

In [9]:
#VISUALIZACIÓN DE CADA DATA
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [11]:
data.shape

(45466, 24)

In [10]:
data_comp.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [ ]:
#SE CAMBIA EL TIPO DE DATO DE LA COLUMNA id DEL DF Data_Comp, YA QUE NO SE NECESITA CÓMO NÚMERO
data_comp['id'] = data_comp['id'].astype('str')

In [ ]:
#SE HACE EL MERGE POR MEDIO DEL ID
data_complete = pd.merge(data, data_comp, how='inner', on='id')
data_complete.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

SE COMIENZA CON EL TRATAMIENTO DE DATOS

In [ ]:
#ANTES SE REALIZA UNA COPIA DE SEGURIDAD
df = data_complete.copy()
df.shape

(45538, 26)

In [ ]:
#REVISIÓN DE NULOS
df.isnull().sum()

adult                        0
belongs_to_collection    41038
budget                       0
genres                       0
homepage                 37746
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25099
title                        3
video                        3
vote_average                 3
vote_count                   3
cast                         0
crew                         0
dtype: int64

In [ ]:
#SE CAMBIA DE LAS COLUMNAS 'revenue' Y 'budget' LOS NULOS POR 0
df['revenue']= df['revenue'].replace([np.nan],['0'])
df['budget']= df['budget'].replace([np.nan],['0'])

In [ ]:
#SE ELIMINAN COLUMNAS QUE NO APORTAN INFORMACIÓN RELEVANTE AL DATAFRAME
df.drop(['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], axis=1, inplace=True)
df.shape

(45538, 20)

In [ ]:
#FUNCIÓN PARA NORMALIZAR COLUMNA CON DICCIONARIO Y PROCEDER A DESENCADENAR
def desanidar_dict(value):
    if pd.isnull(value):
        return ''
    else:
        collection = ast.literal_eval(value)
    return collection['name']

In [ ]:
df['belongs_to_collection']= df['belongs_to_collection'].apply(desanidar_dict)
df.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,Father of the Bride Collection,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [ ]:
#FUNCIÓN PARA NORMALIZAR COLUMNA CON LISTA DE DICCIONARIOS
def desanidar_list_dict(value):
    if pd.isnull(value):
        return ''
    else:
        list_dict = ast.literal_eval(value)
        list_names = [companie['name'] for companie in list_dict]
    return list_names

In [ ]:
#FUNCIÓN PARA NORMALIZAR COLUMNA CON LISTA DE DICCIONARIOS Y OBTENER SÓLO EL DIRECTOR DE
#LA COLUMNA crew
def desanidar_director(value):
    if pd.isnull(value):
        return ''
    else:
        L = []
        for i in ast.literal_eval(value):
         if i['job'] == 'Director':
            L.append(i['name'])
        return L

In [ ]:
#FUNCIÓN PARA NORMALIZAR COLUMNA CON LISTA DE DICCIONARIOS, EN LA QUE SÓLO TOMARÁ LOS 5 PRIMEROS
#NOMBRES DE LA COLUMNA CAST (ACTORES PRINCIPALES)
# No se implementó en esta ocasión, ya que no fue necesaria la columna para el modelo de entrenamiento
def actor_reduce_list(value):
    if pd.isnull(value):
        return None
    else:
        names = []
        j = 0
        collection = ast.literal_eval(value)
        for i in collection:
            if j <= 5:
                names.append(i['name'])
            j+=1
        return names

In [ ]:
df['genres']= df['genres'].apply(desanidar_list_dict)
df['production_companies']= df['production_companies'].apply(desanidar_list_dict)
df['production_countries']= df['production_countries'].apply(desanidar_list_dict)
df['spoken_languages']= df['spoken_languages'].apply(desanidar_list_dict)
df['cast']= df['cast'].apply(desanidar_list_dict)
df['crew']= df['crew'].apply(desanidar_director)
df.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

In [ ]:
#SE VISUALIZA VALORES NULOS DE LAS COLUMNAS
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45538 entries, 0 to 45537
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45538 non-null  object
 1   budget                 45538 non-null  object
 2   genres                 45538 non-null  object
 3   id                     45538 non-null  object
 4   original_language      45527 non-null  object
 5   overview               44584 non-null  object
 6   popularity             45535 non-null  object
 7   production_companies   45538 non-null  object
 8   production_countries   45538 non-null  object
 9   release_date           45451 non-null  object
 10  revenue                45538 non-null  object
 11  runtime                45278 non-null  float64
 12  spoken_languages       45538 non-null  object
 13  status                 45454 non-null  object
 14  tagline                20439 non-null  object
 15  title                  45535 non-null  object
 16  vote_average           45535 non-null  float64
 17  vote_count             45535 non-null  float64
 18  cast                   45538 non-null  object
 19  crew                   45538 non-null  object
dtypes: float64(3), object(17)
memory usage: 7.3+ MB

In [ ]:
#ELIMINACIÓN DE VALORES NULOS DE LA COLUMNA RELEASE_DATE
df=df.dropna(subset=['release_date'])
df.shape

(45451, 20)

In [ ]:
#CAMBIAR TIPO DE DATO DE COLUMNA 'release_date' A DATE
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [ ]:
#SE AGREGA COLUMNA RELEASE_YEAR
df['release_year'] = df['release_date'].dt.year

In [ ]:
#SE VISUALIZA EL DATAFRAME PARA CONFIRMAR QUE LA COLUMNA SE ENCUENTRE CORRECTAMENTE CODEADA
df.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],1995
1,,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston],1995
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],1995
3,,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker],1995
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer],1995

In [ ]:
#SE CAMBIA EL TIPO DE DATO DE LAS COLUMNAS Revenue y Budget PARA CREAR LA COLUMNA 'return'
df['revenue'] = df['revenue'].astype('float')
df['budget'] = df['budget'].astype('float')

In [ ]:
#SE GENERA LA COLUMNA RETURN
df['return'] = df['revenue']/df['budget']

In [ ]:
#CORRIGIENDO ERRORES SURGIDOS DURANTE LA DIVISIÓN
df['return']= df['return'].replace([np.nan],['0'])
df['return']= df['return'].replace([np.inf],['0'])
df['return'] = df['return'].astype('float')

In [ ]:
#SE VISUALIZA EL DATAFRAME LISTO PARA EXPORTAR A CSV
df.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,[English],Released,NaN,Toy Story,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],1995,12.451801
1,,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston],1995,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],1995,0.000000
3,,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker],1995,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer],1995,0.000000

In [ ]:
#Este dataset es el que se utilizó cómo base de datos para realizar las consultas en la API, si
#se va a trabajar de manera local, no es necesario descargarlo
#df.to_csv('df_peliculas.csv', index=False, encoding='utf-8')